<div class="tab-pane active" id="video-chooser-upload-pane">

    <div class="file-chooser-uploader">

<input type="hidden" id="domain" value="http://or2cj6l7o.bkt.clouddn.com/">
<input type="hidden" id="uptoken_url" value="/video/assets/Qiniu/uptoken.php">

<div class="col-md-12">
    <div id="container">
        <a class="btn btn-default btn-lg " id="pickfiles" href="#">
            <i class="glyphicon glyphicon-plus"></i>
            <span>选择文件</span>
        </a>
    </div>
</div>
<div class="col-md-12 ">
    <table class="table table-striped table-hover text-left">
        <thead>
        <tr>
            <th class="col-md-3">名称</th>
            <th class="col-md-2">大小</th>
            <th class="col-md-7">详情</th>
        </tr>
        </thead>
        <tbody id="fsUploadProgress">

        </tbody>
    </table>
</div>
<div style="clear: both"></div>
<script type="text/javascript" src="/video/assets/Qiniu/js/plupload/plupload.full.min.js"></script>

<script type="text/javascript" src="/video/assets/Qiniu/js/qiniu.js"></script>
<script type="text/javascript" src="/video/assets/Qiniu/js/main.js"></script>
<script type="text/javascript" src="/video/assets/Qiniu/js/ui.js"></script>
    </div>

</div>